@import "tailwindcss";

@plugin "daisyui" {
  themes: forest --default;
}

.fresh-gradient {
  background-color: rgb(134, 239, 172);
  background-image: linear-gradient(
    to right bottom,
    rgb(219, 234, 254),
    rgb(187, 247, 208),
    rgb(254, 249, 195)
  );
}

.main-title {
  @apply text-3xl font-bold;
}

.subtitle {
  @apply text-2xl font-bold;
}

.soft-info {
  @apply italic font-light text-primary opacity-65;
}

.about-section {
  @apply mb-4 flex flex-col gap-2;
}

.soft-link {
  @apply md:no-underline underline hover:underline hover:text-primary
    md:text-base-content text-primary;
}

.accordion-item-border {
  @apply border-neutral border-dashed border-2;
}
